@import url(./fonts/font/stylesheet.css);
@import url(./fonts/UnderCaseType_Fraunces_1.000/FontsWeb/variable-subsets/fonts.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1320px;
  padding: 0px 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header .header_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header .header_box .navbarbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_box .header__nav .header__item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.header .header_box .header__nav .item__list {
  list-style: none;
}

.header .header_box .header__nav .item__list .list__link {
  text-decoration: none;
  font-family: Barlow;
  color: #83888F;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.header .header_box .header__nav .item__list .list__link:hover {
  color: #333D4B;
}

.main .hero__box {
  background-image: url("../images/backgraund_img_one.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 137px;
  padding-left: 85px;
  padding-bottom: 137px;
}

.main .hero__box_title {
  font-family: Fraunces;
  color: #FEFCF7;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.main .hero__box_text {
  max-width: 450px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.main .our__box {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 160px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .our__box .our__img {
  border-radius: 12px;
  margin-bottom: 80px;
}

.main .our__box .ourbox_info {
  padding-top: 90px;
  padding-left: 120px;
}

.main .our__box .ourbox_info .ourbox__title {
  font-family: Fraunces;
  color: #333D4B;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.main .our__box .ourbox_info .ourbox__text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 540px;
}

.uncompromising {
  width: 100%;
}

.uncompromising__box {
  width: 100%;
  background-color: #2C343E;
  border-radius: 12px;
  padding-top: 100px;
  padding-left: 85px;
  padding-bottom: 140px;
  position: relative;
}

.uncompromising__box_img {
  width: 430px;
  height: 460px;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  right: 80px;
  top: -90px;
}

.uncompromising__box_title {
  font-family: Fraunces;
  color: #FEFCF7;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.uncompromising__box_text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 540px;
}

.headquarter .headquarters__box {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 170px;
}

.headquarter .headquarters__box_title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.headquarter .headquarters__box .country {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headquarter .headquarters__box .country__box {
  padding-top: 70px;
  width: 30%;
}

.headquarter .headquarters__box .country__box_img {
  margin-bottom: 46px;
}

.headquarter .headquarters__box .country__box_title {
  font-family: Fraunces;
  color: #333D4B;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}

.headquarter .headquarters__box .country__box_text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  max-width: 120px;
}

.footer {
  width: 100%;
  background-color: #2C343E;
}

.footer .footer_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
}

.footer .footer_box .footerbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_box .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_box .networks__logo:hover {
  background-color: #FDD6BA;
}

.footer .footer__nav .footer__item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.footer .footer__nav .item__list {
  list-style: none;
}

.footer .footer__nav .item__list .list__link {
  text-decoration: none;
  font-family: Barlow;
  color: #83888F;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.footer .footer__nav .item__list .list__link:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */